Weslie_source_files/Weslie-backups/
Weslie_source_files/_autosave*.*
Weslie_source_files/#auto_saved_files#
Weslie_source_files/#*
Weslie_source_files/fp-info-cache
Weslie_source_files/fp-lib-table




